
<div class="card card-body">
    <h3>add idea</h3>
    <form action="/ideas" method="POST">
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" name="title" >
        </div>
        <div class="form-group">
            <label for="details">details</label>
            <textarea name="details" class="form-control" cols="30" rows="10" ></textarea> 
        </div>
        <button type="submit" class="btn btn-success">submit</button>

    </form>
</div>